<div class="bg-dark">
  <div class="bg-dark container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="favicon.ico" class="mx-3" style="width:50px;height:50px;">Doc-Ify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button routerLink="/login" class="btn btn-outline-success" type="submit">Connexion</button>
            <span>||</span>
            <button routerLink="/signup" class="btn btn-outline-danger" type="submit">Inscription</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="bg-dark d-flex justify-content-center">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="mx-5 mt-2 mb-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Entreprise
            </a>
            <ul class="dropdown-menu bg-dark " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-light" href="#">Action</a></li>
              <li><a class="dropdown-item text-light" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider text-light">
              </li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="mx-5 mt-2 mb-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Travail
            </a>
            <ul class="bg-dark dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-light" href="#">Action</a></li>
              <li><a class="dropdown-item text-light" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider text-light">
              </li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
            </ul>
          </li>


          <li class=" mx-5 mt-2 mb-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Famille
            </a>
            <ul class="bg-dark dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-light" href="#">Action</a></li>
              <li><a class="dropdown-item text-light" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider text-light">
              </li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
            </ul>
          </li>


          <li class="mx-5 mt-2 mb-3  nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Immobilier
            </a>
            <ul class="bg-dark dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-light" href="#">Action</a></li>
              <li><a class="dropdown-item text-light" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider text-light">
              </li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
            </ul>
          </li>


          <li class="mx-5 mt-2 mb-3 nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Juridique
            </a>
            <ul class="bg-dark dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-light" href="#">Action</a></li>
              <li><a class="dropdown-item text-light" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider text-light">
              </li>
              <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </nav>
