<app-header></app-header>
<div class="container pt-4">
  <div class="row pb-2">
    <div class="text-right">
      <button mat-raised-button (click)="onLogout()" color="light">{{'dashboard.logout' | translate}} </button>
    </div>
  </div>
  <mat-card class="mb-2">

    <div>{{ 'dashboard.greeting' | translate}} {{username}}</div>

    <button routerLink="/documents/contrat-travail" style="margin:10px;" class="btn btn-primary">{{'body.contrat_travail' | translate}}</button>

    <button routerLink="/documents/convention-stage" class="btn btn-primary">{{'body.convention_stage' | translate}}</button>

    <button routerLink="/documents/create" style="margin:10px;" class="btn btn-secondary">{{'dashboard.maketemplate' | translate}} </button>


    <div>{{'dashboard.templates' | translate}} :</div>
    <ul>
      <li *ngFor="let temp of templates"><button style="margin:10px;" mat-raised-button
          (click)="getTemp(temp._id,temp.name)" color="accent">{{ temp.name }}</button></li>
    </ul>




    <div>{{'dashboard.documents' | translate}} :</div>
    <ul>
      <li *ngFor="let doc of mesdocs"><button style="margin:10px;" mat-raised-button (click)="getDoc(doc._id,doc.name)"
          color="accent">{{ doc.name }} / {{doc.date}}</button></li>
    </ul>




  </mat-card>
</div>
<app-footer></app-footer>
