<body class="bg-dark">

  <div class="container ">

    <div class="row">
      <div class="col s12 mt-3 mb-3">

        <div class="card bg-dark">
          <div class="car-content bg-dark black-text">
            <div class="row bg-dark ">


              <!-- First Step -->

              <div *ngIf="!view && etape1 && !etape2 && !etape3 && !etape4"
                class="col s6 mx-3 mt-4 shadow p-2 mb-2 bg-dark rounded d-flex justify-content-center text-center">

                <form #formulaire1="ngForm" class="d-flex justify-content-center align-items-center">

                  <div class="text-light">
                    {{ 'article.input_number' | translate }}
                  </div>

                  <div class="form mt-2 mx-2 mb-2">
                    <input class="form__input" type="number" name="length" [ngModel]="length" />
                  </div>
                  <div>
                    <button type="submit" (click)="onSubmit1(formulaire1)"
                      class="btn btn-outline-success mx-2">{{ 'article.next' | translate }}</button>
                  </div>
                </form>
              </div>

              <!-- Second Step -->



              <div *ngIf="upload && !view && !etape1 && !etape2 && !etape3 && !etape4 && !pdf && !edit"
                class="col s6 mx-3 mt-4 shadow p-2 mb-2 bg-dark rounded d-flex justify-content-center text-center">





                <button type="submit" (click)="Upload()" class="btn btn-outline-success mx-2">{{ 'article.upload' | translate }}</button>

                <button type="submit" (click)="Saisie()" class="btn btn-outline-success mx-2">{{ 'article.saisie' | translate }}</button>



              </div>

              <!-- Fourth Step -->


              <div *ngIf="!view && !etape1 && etape2 && !etape3 && !etape4"
                class="col s6 mx-3 mt-4 shadow p-2 mb-2 bg-dark rounded d-flex justify-content-center text-center">



                <form #formulaire2="ngForm" class="justify-content-center align-items-center">

                  <div class="text-light">
                    {{ 'article.texte_html' | translate }}
                  </div>
                  <div class="form mt-2 mx-2 mb-2 ">

                    <input class="form__input" type="text" name="document_name" [(ngModel)]="document_name" />
                    <label class="form__label">{{ 'article.docname' | translate }}</label>
                  </div>
                  <div class="form-group mb-2">
                    <textarea class="form-control" name="texte" [ngModel]="texte"></textarea>
                  </div>

                  <button type="submit" (click)="onSubmitText(formulaire2)"
                    class="btn btn-outline-success mx-2">{{ 'article.next' | translate }}</button>

                </form>


              </div>


              <!-- Third Step -->

              <div *ngIf="!view && !etape1 && !etape3 && !etape4 && pdf"
                class="col s6 mx-3 mt-4 shadow p-2 mb-2 bg-dark rounded d-flex justify-content-center text-center">



                <form #formulaire2="ngForm" class="justify-content-center align-items-center">

                  <div class="text-light">
                    {{ 'article.texte_html' | translate }}
                  </div>

                  <div class="form mt-2 mx-2 mb-2 ">

                    <input class="form__input" type="text" name="document_name" [(ngModel)]="document_name" />
                    <label class="form__label">{{ 'article.docname' | translate }}</label>
                  </div>

                  <div class="text-light mb-2">
                    {{ 'article.upload_pdf' | translate }}
                  </div>
                  <app-file-upload></app-file-upload>
                  <div class="text-light mb-2">
                    {{ 'article.upload_image' | translate }}
                  </div>

                  <app-image-upload>

                  </app-image-upload>




                  <button type="submit" (click)="onSubmitTextUpload(formulaire2)"
                    class="btn btn-outline-success mx-2">{{ 'article.next' | translate }}</button>

                </form>


              </div>


              <!-- Text Modifcation and Submission -->

              <div *ngIf="!view && !etape1 && !etape3 && !etape4 && !etape2 && !pdf && edit"
                class="col s6 mx-3 mt-4 shadow p-2 mb-2 bg-dark rounded d-flex justify-content-center text-center">



                <form #formulaire2="ngForm" class="justify-content-center align-items-center">

                  <div class="text-light">
                    {{ 'article.texte_html2' | translate }}
                  </div>


                  <div class="form mt-2 mx-2 mb-2 ">

                    <input class="form__input" type="text" name="document_name" [value]="values[2]" />
                    <label class="form__label">{{ 'article.docname' | translate }}</label>
                  </div>

                  <textarea class="form-control" name="texte" [ngModel]="texte" [value]="values[4]"></textarea>


                  <button type="submit" (click)="onSubmitTextFinal(formulaire2)"
                    class="btn btn-outline-success mx-2">{{ 'article.next' | translate }}</button>

                </form>


              </div>

              <!-- Fifth Step : Input Types -->


              <div *ngIf="!view && !etape1 && !etape2 && etape3 && !etape4"
                class="col s6 mx-3 mt-4 shadow p-2 mb-2 bg-dark rounded d-flex justify-content-center text-center">

                <form [formGroup]="inputType">
                  <div class="text-light">


<br>
                    {{ 'article.input_type' | translate }}
                  </div>

                  <div class="d-flex mb-3" *ngFor="let control of inputType.controls.type['controls']; let i=index"
                    formArrayName="type">

                    <!-- mandatory to have a in the following line [formGroupName]="i" or else it won t work ! -->



                    <div [formGroupName]="i">
                      <div class="form-group col-xs-6">
                        <div class="form mt-2 mx-2 mb-4">
                          <select formControlName="input" class="form-select btn btn-outline-success btn-lg px-6 ">
                            <option [ngValue]="type" selected disabled hidden>{{ 'article.type' | translate }}</option>
                            <option value="text">{{ 'article.text' | translate }}</option>
                            <option value="number">{{ 'article.number' | translate }}</option>
                            <option value="hidden">{{ 'article.hidden' | translate }}</option>
                            <option value="email">{{ 'article.email' | translate }}</option>
                            <option value="date">{{ 'article.date' | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-xs-6">
                        <div class="form mt-2 mx-2 mb-4">
                          <select formControlName="choice" class="form-select btn btn-outline-success btn-lg px-6 ">
                            <option [ngValue]="type" selected disabled hidden>{{ 'article.choice' | translate }}</option>
                            <option value="true">{{ 'article.known' | translate }}</option>
                            <option value="false">{{ 'article.free' | translate }}</option>

                          </select>
                        </div>
                      </div>





                      <div class="form-group col-xs-6">
                        <div class="form mt-2 mx-2 mb-4">
                          <input class="form__input" type="text" formControlName="label" matInput [matAutocomplete]="auto" />
                          <label class="form__label">{{ 'article.label' | translate }}</label>
                        </div>
                      </div>
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of known">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>



                      <br>
                      <div class="text-light">
                        <hr>
                      </div>
                      <br>
                    </div>
                  </div>




                  <button type="submit" (click)="onSubmit2(inputType)"
                    class="btn btn-outline-success mx-2">{{ 'article.next' | translate }}</button>

                </form>
              </div>


              <!-- Sixth Step : Creation of instance of the template in hand  -->


              <div *ngIf="!view && !etape1 && !etape2 && !etape3 && etape4"
                class="col s6 mx-3 mt-4 shadow p-2 mb-2 bg-dark rounded d-flex justify-content-center text-center">

                <form [formGroup]="articleForm">

                  <div class="d-flex" *ngFor="let control of articleForm.controls.Field['controls']; let i=index"
                    formArrayName="Field">


                    <!-- mandatory to have a in the following line [formGroupName]="i" or else it won t work ! -->

                    <div [formGroupName]="i">
                      <div class="form-group col-xs-6">
                        <div class="form mt-2 mx-2 mb-4">
                          <input class="form__input" type="text" formControlName="label" />
                          <label class="form__label">{{ 'article.label' | translate }}</label>
                        </div>
                      </div>
                      <div class="form-group col-xs-6">
                        <div class="form mt-2 mx-2 mb-4">
                          <select formControlName="type" (change)=onSelect()
                            class="form-select btn btn-outline-success btn-lg px-6 ">
                            <option [ngValue]="type" selected disabled hidden>{{ 'article.type' | translate }}</option>
                            <option value="free">{{ 'article.free' | translate }}</option>
                            <option value="known">{{ 'article.known' | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-xs-6" *ngIf="!champs[i]">
                        <div class="form mt-2 mx-2 mb-4">
                          <input class="form__input" type="{{types[i]}}" formControlName="value" />
                          <label class="form__label">{{ 'article.value' | translate }}</label>
                        </div>
                      </div>
                      <div class="form-group col-xs-6" *ngIf="champs[i]">
                        <div class="form mt-2 mx-2 mb-4">

                          <select formControlName="value" class="form-select btn btn-outline-success btn-lg px-6 ">
                            <option *ngFor="let cities of
                            select[i]">{{cities.value}}</option>
                          </select>
                        </div>
                      </div>
                      <!-- <div> -->
                      <div class="form-group col-xs-6">
                        <div class="form mt-2 mx-2 mb-4">
                          <input class="form__input" type="text" formControlName="nature" />
                          <label class="form__label">{{ 'article.nature' | translate }}</label>
                        </div>
                      </div>

                      <br>
                      <div class="text-light">
                        <hr>
                      </div>
                      <br>



                    </div>

                  </div>



                  <button type="submit" [disabled]="!articleForm.valid" (click)="onSubmit(articleForm)"
                    class="btn btn-outline-success mx-2">{{ 'article.save' | translate }}</button>
                  <button type="submit" (click)="resetForm(articleForm)" class="btn btn-outline-danger">{{ 'article.reset' | translate }}</button>

                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

                  <button type="submit" *ngIf="saved" (click)="getDoc(id_str,user)" class="btn btn-outline-warning">{{ 'article.seedoc' | translate }}</button> -->
                </form>

              </div>


            </div>


            <!-- Document -->

            <div *ngIf="view && !etape2 && !etape3 && !etape4"
              class=" col s6 mx-3 mt-4 shadow p-2 mb-3 bg-dark rounded">
              <button type="submit" *ngIf="view" (click)="generatePDF()" class="btn btn-outline-danger">{{ 'article.genererpdf' | translate }}</button>
              <span style="padding-left:10px;color:white;">{{ 'article.pdf' | translate }}</span>

              <div style="margin:10px;" class="scroll form-control">
                <div style="height:auto; margin:10px;" #article>
                  <div contenteditable="true" [innerHTML]="texte">

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
