<app-header></app-header>
<div class="container px-2" style="padding-top: 10rem ;">
  <div>
    <mat-card class="bg-dark">
      <mat-card-title>
        {{'login.title' | translate}}
      </mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="OnSubmit()" [formGroup]="loginUserForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>{{'login.email' | translate}}</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>{{'login.password' | translate}}</mat-label>
                <input matInput type="password" formControlName="password">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <button mat-raised-button color="accent" type="submit" style="width: 100%;">{{'login.submit' | translate}}</button>
          </div>

        </form><br>
        <div class="row">
          <button mat-raised-button color="warn" (click)="admin()" type="button" style="width: 100%;">
            {{'login.admin' | translate}}</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
