<app-header></app-header>
<div class="container px-2"  style="padding-top: 10rem ;" >
  <div>
      <mat-card  class="bg-dark">
          <mat-card-title >
              Login Form
          </mat-card-title>
          <mat-card-content>
              <form (ngSubmit)="OnSubmit()" [formGroup]="loginUserForm">
                  <div class="row">
                      <div class="col">
                          <mat-form-field appearance="outline" style="width: 100%;">
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="email">
                          </mat-form-field>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col">
                          <mat-form-field appearance="outline" style="width: 100%;">
                              <mat-label>Password</mat-label>
                              <input matInput type="password" formControlName="password">
                          </mat-form-field>
                      </div>
                  </div>
                  <div class="row">
                      <button mat-raised-button color="accent" type="submit" style="width: 100%;">Submit</button>
                  </div>
                  
              </form><br>
              <div class="row">
                <button mat-raised-button color="warn" (click)="admin()" type="button" style="width: 100%;">Connect as Admin</button>
            </div>
          </mat-card-content>
      </mat-card>
  </div>
</div>
<app-footer></app-footer>
